<section>
    <h1>Edit Post</h1>

    <form class="form editPost">

        {{!-- updated title --}}
        <div>
            <input class="form-control" type="text" id="updateTitle" placeholder="Enter updated post title ..." value="{{title}}">
        </div>

        {{!-- updated post --}}
        <div>
            <textarea class="form-control" type="text" id="updateText" placeholder="Enter updated post content ...">{{content}}</textarea>
        </div>

        {{!-- submit edit --}}
        <div>
            <button id="edit-btn" class="btn btn-primary" type="submit">Update Post</button>
        </div>

        {{!-- delete post --}}
        <div>
            <button id="delete-btn" class="btn btn-primary" type="button">Delete Post</button>
        </div>

    </form>
</section>