<main>
    <h1>Posts</h1>
    <div class="card text-center">
        {{#each post}}
        <div class="card-header">
            <a href="/post/{{id}}" >{{title}}</a>
        </div>
        <div class="card-body">
            <p>Created on: {{format_date createdAt}} </p>
        </div>
        {{/each}}
    </div>
</main>