<div class="login">
    <form class="form login-form">
        <h1>Login</h1>

        {{!-- username --}}
        <div class="form-group">
            <input class="form-input" type="text" id="usernameLogin" placeholder="Username">
        </div>

        {{!-- password --}}
        <div class="form-group">
            <input class="form-input" type="password" id="passwordLogin" placeholder="Password">
        </div>

        {{!-- login button --}}
        <div class="form-group">
            <button id="loginButton" class="btn btn-primary" type="submit">Login</button>
        </div>
    </form>
</div>