<section>
    <h1>New Blog Post</h1>
    <form class="form newPost">
        {{!-- title of blog --}}
        <div class="form-group">
            <input class="form-input" type="text" id="blogTitle" placeholder="Blog Title">
        </div>

        {{!-- blog text --}}
        <div class="form-group">
            <input class="form-input" type="text" id="blogText" placeholder="Content...">
        </div>

        {{!-- submit --}}
        <div class="form-group">
            <button id="postSubmit" class="btn btn-primary" type="submit">Create Post</button>
        </div>
    </form>
</section>