<div class="signup">
    <h1>Sign Up</h1>

    <form class="form signup-form">
        {{!-- signup username --}}
        <div class="form-group">
            <input class="form-control" type="text" id="usernameSignup" placeholder="Username">
        </div>

        {{!-- signup email --}}
        <div class="form-group">
            <input class="form-control" type="email" id="emailSignup" placeholder="Email">
        </div>

        {{!-- signup password --}}
        <div class="form-group">
            <input class="form-control" type="password" id="passwordSignup" placeholder="Password">
        </div>

        {{!-- signup submit --}}
        <div class="form-group">
            <button id="signupBtn" class="btn btn-primary" type="submit">Sign Up</button>
        </div>

    </form>
</div>
{{!-- <script src="/js/signUp.js"></script> --}}